{% extends 'base.html.twig' %}

{% block title %}Liste des commandes!{% endblock %}

{% block body %}
 
<div class= "  container  ">
  <h1 class=" text-aligne text-center"> Liste des commandes </h1>
    {% if is_granted('ROLE_ADMIN') %} 
     <a href= "{{path('commander_add') }}" > <button class="btn 
     btn-primary mx-2 mb-2">{{ ' Ajouter commande' }}</button></a> 
    {% endif %} 
  <table class=" table table-striped  " >
  <thead>
    <tr>
   
        <th >Date_achat</th>
        <th >Prix_achat</th>
        <th >Nbr_exemplaires</th>
        <th >Code_fournisseur</th>
        <th >Raison_sociale</th>
        <th >Pays</th>
        <th >Titre_livre</th>
        <th >Theme_livre</th>
        <th >Nom_auteur</th>
        <th >Prenom_auteur</th>
        <th >Editeur</th>
         <th >idUtilisateur</th> 
          {% if is_granted('ROLE_ADMIN') %}  
         <th >Action</th> 
           {% endif %}  
        
   </tr>
  </thead>
  
           {% for commande in commandes %} 
    <tr>
   {# {{ dump(commande) }} #}

        <td > {{commande.getDateAchat()|date('Y-m-d') }} </td>  
        <td > {{commande.getPrixAchat() }} </td> 
        <td > {{commande.getNbrExemplaires() }} </td> 
         <td > {{commande.getIdLivre().getTitreLivre() }} </td> 
         <td > {{commande.getIdLivre().getThemelivre() }} </td> 
         <td > {{commande.getIdLivre().getNomauteur() }} </td> 
         <td > {{commande.getIdLivre().getPrenomauteur() }} </td> 
         <td > {{commande.getIdLivre().Editeur() }} </td> 
         <td > {{commande.getIdfournisseur().getCodefournisseur() }} </td> 
         <td > {{commande.getIdfournisseur().getRaisonsociale() }} </td> 
         <td > {{commande.getIdfournisseur().getPays() }} </td>  
         
           <td> {{commande.getIdUtilisateur().getPrenom()}} </td>    
    {% if is_granted('ROLE_ADMIN') %}
     <td>
      <div class="d-flex flex-row">
        <a href= "{{path('commander_edit',{'id':commande.id}) }}" ><button type="update" class="btn btn-warning btn-sm me-3"><i class="bi bi-pencil-fill"></i></button></a>
         <a href="{{ path('commander_delete', {'id': commande.id}) }}"onclick="return confirm('Etes-vous sûr de vouloir supprimer cet personne?')"  ><button type="submit" class="btn btn-danger btn-sm" 
         onclick="return confirmation()"><i class="bi bi-trash-fill"></i></button></a> 
          </div>
      </td>
    {% endif %} 
  </tr> 
 {% endfor %}
 </table>   
</div>
{% endblock %}
