{% extends 'base.html.twig' %}

{% block title %}Liste des fournisseurs!{% endblock %}

{% block body %}
 
 
<div class= " container  ">
  <h1 class=" text-aligne text-center"> Liste des fournisseurs </h1>
    {% if is_granted('ROLE_ADMIN') %}
     <a href= "{{path('fournisseurs_add') }}" > <button class="btn btn-primary mx-2 mb-2">{{ ' Ajouter fournisseur' }}</button></a>  
    {% endif %}
  <table class="  table table-striped  " >
  <thead>
    <tr>
    <th>Codefournisseur </th> 
    <th>Raison_sociale</th>
    <th> Rue_fournisseur</th>
    <th>Code_postal</th>
    <th>Localite</th>
    <th>Pays</th>
    <th>Tel_fournisseur</th>
    <th>Url_fournisseur</th>
    <th>Email_fournisseur</th>
    <th>Fax_fournisseur</th>
      {% if is_granted('ROLE_ADMIN') %}
    <th>Action</th>
    {% endif %}
 
   </tr>
  </thead>
    {% for fournisseur in fournisseurs %}
    <tr>
    <td > {{fournisseur.getCodefournisseur() }} </td> 
    <td > {{fournisseur.getRaisonsociale()}} </td>
    <td > {{fournisseur.getRuefournisseur()}} </td>
     <td > {{fournisseur.getCodepostal()}} </td>
     <td > {{fournisseur.getLocalite()}} </td>
     <td > {{fournisseur.getPays()}} </td>
     <td > {{fournisseur.getTelfournisseur()}} </td>
     <td > {{fournisseur.getUrlfournisseur()}} </td>
     <td > {{fournisseur.getEmailfournisseur()}} </td>
     <td > {{fournisseur.getFaxfournisseur()}} </td>
      {% if is_granted('ROLE_ADMIN') %}
     <td>
      <div class="d-flex flex-row">
        <a href= "{{path('fournisseurs_edit',{'id':fournisseur.id}) }}" ><button type="update" class="btn btn-warning btn-sm me-3"><i class="bi bi-pencil-fill"></i></button></a>
         <a href="{{ path('fournisseurs_delete', {'id': fournisseur.id}) }}"onclick="return confirm('Etes-vous sûr de vouloir supprimer cet personne?')"  ><button type="submit" class="btn btn-danger btn-sm" 
         onclick="return confirmation()"><i class="bi bi-trash-fill"></i></button></a> 
          </div>
      </td> 
      {% endif %}
  </tr> 
 {% endfor %}
</table>   
</div>
{% endblock %}